<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Storybook+</title>
        <script src="<%= htmlWebpackPlugin.options.links[0] %>"></script>
        <link href="<%= htmlWebpackPlugin.options.links[1] %>" rel="stylesheet" media="all" />
        <script src="<%= htmlWebpackPlugin.options.links[2] %>" type="text/javascript"></script>
    </head>
    <body>
        
        <noscript aria-hidden="true">
    		<h1>JavaScript is required!</h1>
    		<p>In order for this application to function, please <a href="http://www.enable-javascript.com/" target="_blank">enable JavaScript</a>.</p>
    	</noscript>
        
        <div class="sbplus_wrapper"></div>
        
    </body>
</html>